<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/admin.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
  
   
  
  <title></title>

  <header>
  <nav class="admin-menu-style">
    <div class="menu-flex">
          <div >
            <a class="navbar-brand brand-name" href="javascript:void(0)">Digi Tech.</a>
          </div>
        
         
          <ul class="navbar-nav me-auto">
            <div class="admin-menu">
            <div>
              <li class="nav-item">
                <a class="nav-link" href="/admin/products">Product Management</a>
              </li>
            </div>
              <div>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/categories">Category Management</a>
                </li>
              </div>
              <div>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/users">User Management</a>
                </li>
              </div>
             <div>
                <li class="nav-item">
                <a class="nav-link" href="/admin/orders">Order Management</a>
              </li>
             </div>
  
             <div class="admin-logout">
              <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Admin Logout</a>
            </li>
           </div>
            
            </ul>
        </div>
      </div>
    </nav>
  </header>
</head>
<body>
