<%- include("partials/basic-header.ejs") %>
<body>
  <div class="container mt-5 mb-5">
    

    <div class="row  outer-body">
      <div class="col-sm-8">
        <div class="card register-body">
          <div class="card-body ">

            <h2 class="login-title">Digi Tech.</h2>

            <div>
              <p class="error-message">
                <% if(locals.message) {%>
                <%= message %>
                <% } %>
                </p>
            </div>
            
            <form id="nameUpdate">
                
               
                
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= user.name %>">
                </div>
               
              <button type="submit" class="btn submit-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

      

    document.getElementById("nameUpdate").addEventListener("submit",(event)=>{
      let name;
      const nameElement = document.getElementById("name");
      if(nameElement){
      name = nameElement.value;
      name = name.trim();
      
      
      }
      
      
      const specialCharacters = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
      

      if(name == "" || /[0-9]/.test(name) || specialCharacters.test(name)){
        
        alert("Invalid Entry");
        event.preventDefault();
      }
      else{
      updateName(name);
      }
    })
  
  
async function updateName(name){
 try{
  
   const response = await fetch('/users/edit-name',{
     method:'POST',
     headers : {
       'Content-Type':'application/json'
     },
     credentials:'include',
     body:JSON.stringify({
      name: name ? name:null,
     })
   })

   if(response.ok){
    
     window.location.replace('/users/profile');
     
   }
   else {
          // Handle failure
          const responseData = await response.json();
          const errorMessage = responseData.message || 'Update Failed';
          alert(errorMessage);
          window.location.href('/users/edit-name');
        }
 }
     catch (error) {
        console.error(error);
      }
    }
  
  </script>

</body>
</html>