<%- include("partials/basic-header.ejs") %>
<body>
  <div class="container mt-5 mb-5">
    

    <div class="row  outer-body">
      <div class="col-sm-8">
        <div class="card register-body">
          <div class="card-body ">

            <h2 class="login-title">Digi Tech.</h2>

            
            
            <form id="nameUpdate">
                
               
                
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= user.name %>">
                </div>
                <div>
                  <p id="message" class="error-message">

                  </p>
                </div>
               
              <button type="submit" class="btn submit-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

      
    let formSubmitted = false;
    const nameElement = document.getElementById("name");
    const specialCharacters = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
    document.getElementById("nameUpdate").addEventListener("submit",(event)=>{
      event.preventDefault();
      let name;
      
      if(nameElement){
      name = nameElement.value;
      name = name.trim();
      
      }
      
   
      if(name == "" || /[0-9]/.test(name) || specialCharacters.test(name)){
        const message = "Invalid Name";
        document.getElementById("message").textContent = message ?  message : "";
        event.preventDefault();
      }
      else{
        formSubmitted = true;
        updateName(name,event);
      }
    })

    nameElement.addEventListener("input",(event)=>{
      if(!formSubmitted){
      const name = event.target.value;
      const message = name == "" || /[0-9]/.test(name) || specialCharacters.test(name) ? 'Invalid Name' : "";
      document.getElementById("message").textContent = message;
    }

    })
  
  
async function updateName(name,event){
 try{
   
   const response = await fetch('/users/edit-name',{
     method:'POST',
     headers : {
       'Content-Type':'application/json'
     },
     credentials:'include',
     body:JSON.stringify({
      name: name ? name:null,
     })
   })

   if(response.ok){
    
     window.location.replace('/users/profile');
     
   }
   else {
          // Handle failure
          const responseData = await response.json();
          const errorMessage = responseData.message || 'Update Failed';
          document.getElementById("message").textContent = errorMessage;
          return false;
          event.preventDefault();
          
        }
 }
     catch (error) {
        console.error(error);
      }
    }
  
  </script>

</body>
</html>