<%- include("partials/basic-header.ejs") %>
<body>
  <div class="container mt-5 mb-5">
    

    <div class="row  outer-body">
      <div class="col-sm-8">
        <div class="card register-body">
          <div class="card-body ">

            <h2 class="login-title">Digi Tech.</h2>
            <div class="confirm-details">
              Your order has received! Thank you for shopping!
              <p>You will receive order confirmation email once the item has been shipped. <br> Please make payment on delivery.</p>
              <p>Return to <a href="/products" style="color:green; font-weight:bold"> shop</a></p>
            </div>
           
          
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>