<%- include("partials/basic-header.ejs") %>
<body>
  <div class="container mt-5 mb-5">
    

    <div class="row  outer-body">
      <div class="col-sm-8">
        <div class="card register-body">
          <div class="card-body ">

            <h2 class="login-title">Digi Tech.</h2>

            
            
            <form id="phoneUpdate">
                
               
                
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" value="<%= user.phone %>">
                </div>

                <div>
                  <p class="error-message" id="message">
                    
                    </p>
                </div>
               
              <button type="submit" class="btn submit-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

      
    let formSubmitted = false;
    const phoneElement = document.getElementById("phone");
    let regExPhone = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
    
    document.getElementById("phoneUpdate").addEventListener("submit",(event)=>{
      let phone;
      
      if(phoneElement){
        phone = phoneElement.value;
      }
      
      
  

      if( phone == "" || !regExPhone.test(phone)){
        
        const message = "Invalid phone number";
        document.getElementById("message").textContent = message;
        event.preventDefault();
      }
      else{
      formSubmitted = true;
      updatePhone(phone,event);
      }
    })

    
      phoneElement.addEventListener("input",(event)=>{
        if(!formSubmitted){
        const phone = event.target.value;
        
        const message = phone === "" || !regExPhone.test(phone) ? "Invalid phone number" : "";
        document.getElementById("message").textContent = message;
        }
      })
    
  
  
async function updatePhone(phone,event){
  event.preventDefault();
  
  
 try{
  
   const response = await fetch('/users/edit-user',{
     method:'POST',
     headers : {
       'Content-Type':'application/json'
     },
     credentials:'include',
     body:JSON.stringify({
       phone,
     })
   })

   if(response.ok){
    
     window.location.replace('/users/profile');
     
   }
   else {
          // Handle failure
          
          
          
          const responseData = await response.json();
          const message = responseData.message || 'Update Failed';
          document.getElementById("message").textContent = message;
          event.preventDefault();
          return false;
          
        }
 }
     catch (error) {
        console.error(error);
        event.preventDefault();
      }
    }
  
  </script>

</body>
</html>