<%- include("partials/basic-header.ejs") %>
<body>
  <div class="container mt-5 mb-5">
    

    <div class="row  outer-body">
      <div class="col-sm-8">
        <div class="card register-body">
          <div class="card-body ">

            <h2 class="login-title">Digi Tech.</h2>

            <div>
              <p class="error-message">
                <% if(locals.message) {%>
                <%= message %>
                <% } %>
                </p>
            </div>
            
            <form action="/users/edit-user" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Email" value="<%= user.email %>">
                </div>
               
                
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="<%= user.phone %>">
                </div>
               
              <button type="submit" class="btn submit-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>