
p{
  padding:0;
  margin:0;
  padding: 2px;
}
.cart-title{
  color: rgb(68, 3, 70);
  margin-left: 60px;
  margin-top:24px;
  font-size: 44px;
}

.cart-div{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left:20px;
  border:1px solid rgb(169, 166, 166);
  border-radius:8px;
  width: 720px;
  padding: 32px;
  background-color: rgba(243, 235, 235, 0.98);
  font-weight:bold;
  color:rgb(68, 3, 70);
  
}
.cart-image-img{
  height:80px;
}
.qty-button{
  background-color: rgb(68, 3, 70);
  color:lightgray;
  border:none;
  border-radius:10px;
}
.profile-body{
  background-color:rgba(243, 241, 241, 0.808);
  display:flex;
  padding:20px;
}
.profile-container{
  background-color:rgba(243, 241, 241, 0.808);
  display:flex;
  justify-content: center;
  border-radius: 10px;
  
}

.amount-span{
  margin-left:32px;
}

.price-grid{
  margin:12px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:300px;
}

.checkout-button{
  background-color: rgb(68, 3, 70);
  color:white;
  margin:12px;
  padding: 6px;
  border:none;
  border-radius: 4px;
  
}

.order-summary-div{
  margin-top:80px;
  margin-right:24px;
  padding:24px;
  border:1px solid lightgray;
  border-radius: 32px;
  height:256px;
  background-color: rgba(243, 235, 235, 0.98);
  display:flex;
  flex-direction: column;
  flex:1;
  
}

.order-summry{
  color:rgb(68, 3, 70);
  font-weight:bold;
}

.order-summary-body{
  display: flex;
  
  
}
.order-summary-append{
  
  margin:20px;
}



.delete-button{
  color:red;
  border:none;
  background-color: none;
}

.item-update-div{
  display:grid;
  align-items: center;
  grid-template-columns: 26px 26px 26px 26px;
}

@media screen and (max-width: 1000px) {
  .order-summary-div {
      margin-right: 0;
  }

  .cart-div {
      flex-direction: column;
  }
  .order-summary-body{
    flex-direction: column;
    align-items: center;
  }

  .cart-image,
  .cart-price {
      flex-basis: auto; /* Reset width for smaller screens */
  }
}

.qty{
  padding:8px;
}

.shipping{
  margin: 54px;
  display: flex;
  flex-direction: row;
  flex: 240px 240px;
  column-gap: 100px;
  
}

.profile{
  margin-top:24px;
  margin-bottom:24px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  column-gap: 20px;
  align-items: center;
}
.profile-title{
color:rgb(68, 3, 70);
padding:38px;
text-align: center;

}

.profile-field{
  font-weight:bold;
}


.shipping-to{
  font-size: 24px;
  color:rgb(68, 3, 70);
}
.address{
  font-size:18px;
  
}

.payment-method{
  margin-left: 36px;
  padding:12px;
}
.checkout-flex{
 
  display:grid;
  grid-template-columns: 1fr 300px;
  
}

.cash-method{
  margin-left:8px;
}
.payment-title{
  color:rgb(68, 3, 70);
  margin-bottom: 12px;
}

.item{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin: 18px 32px;
  background-color: rgba(244, 242, 242, 0.866);
  border-radius:8px;
  align-items: center;
  padding:12px;
  
}
.item-image{
  width:80px;
}
.price{
  color:red;
}
.qty{
  color:green;
}
.item-name{
  font-weight: bold;
  color:rgb(68, 3, 70);
}

.confirm-button{
  margin:32px;
  padding:8px;
  border:none;
  background-color:rgb(68, 3, 70);
  border-radius: 4px;
  color:white;
}

.confirm-details{
  color:black;
  font-size:18px;
}

.cart-empty{
  margin:24px 48px;
  font-size: 18px;
  padding:12px;
}



.order-div{
  display:flex;
  flex: 1fr 1fr;
  margin-top:24px;
  margin-bottom:12px;
}

.order-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
}
.cancel-button,.name-button,.address-button,.password-button{
  color:rgb(99, 98, 98);
  border:none;
  background-color:none;
  text-decoration: underline;
  padding-bottom:0;
  padding-top:0;
  margin-top:0;
  margin-bottom:0;
}

.shipping-option{
  
  display: flex;
  flex-direction: row;
  flex: 240px 240px;
  column-gap: 100px;
  margin-bottom:32px;

}
.newAddress{
  margin-bottom:32px;
}

#paypal{
  margin: 32px;
  width: 32px;
}

.order-number-button{
  border: none;
  color:blue;
  background-color: none;
  text-decoration: underline;

}
.product-details-div{
  display:grid;
  grid-template-columns: 200px 200px;
  column-gap: 10px;
  padding:5px;
}
.img-div{
  
  padding:10px;
}
.product-details-img{
  
  height:160px;
  width:160px;
  
  
}
.order-title{
  font-size: 24px;
  margin-bottom:10px;
}
.order-status{
  color:green;
}
.order-price{
  color:red;
}
.shipping-address-title,.order-summary-title{
  font-size:18px;
  font-weight: bold;
  margin-top:12px;
  margin-bottom:12px;
}
.order-date{
  color:gray;
  margin-top:5px;
  margin-bottom:5px;
}
.product-details{
  padding-top:15px;
}
.shipping-address,.order-summary{
  padding-top:25px;
}
.payment-method-title{
  font-size:18px;
  font-weight: bold;
  margin-top:12px;
  margin-bottom:12px;
}
.payment-method-summary{
  margin-top:12px;
  margin-bottom:12px;
  color:green;
}